# Entregable Modulo 1
---------------------

A continuación de presentan los diferentes ejercicios a realizar para el primer entregable del minor _Introducción a Python_.

## ¡Empezemos!

### 1. Ejercicios tipos de datos (2 puntos)

En los tipos de datos hemos estado viendo los números, los strings, las tuplas, las listas, los diccionarios y los sets. Veamos que podemos hacer con ellos.

__1. Considera la variable _texto_:__
- ¿De qué tipo es la variable?
- Substituye todas las letras con acento por letras sin acento (es decir, á por a, í por i...). 
- Pasa todo el téxto a letras mayúsculas
- ¿En qué posición empieza el número de teléfono?
- En la variable _numero_ guarda únicamente el número de teléfono a partir de una rebanada del texto original. 
- Quítale los espacios al número de telefono almacenado en _numero_
- Transforma _numero_ en una variable del tipo numero entero.

In [1]:
# Variable texto

text = 'Hola, mi nombre es Germán Fernández y me gustaría que me llamaran al siguiente número de teléfono: +34 687 532651'

In [2]:
# ¿De qué tipo es la variable?
type(text)
# la variable es de tipo string

str

In [ ]:
!pip install unidecode

In [3]:
# Substituye todas las letras con acento por letras sin acento (es decir, á por a, í por i...).
import unidecode
text_acentos = unidecode.unidecode(text)
print(text_acentos)

Hola, mi nombre es German Fernandez y me gustaria que me llamaran al siguiente numero de telefono: +34 687 532651

In [4]:
# Pasa todo el téxto a letras mayúsculas
text_mayus = text.upper()
print(text_mayus)

HOLA, MI NOMBRE ES GERMÁN FERNÁNDEZ Y ME GUSTARÍA QUE ME LLAMARAN AL SIGUIENTE NÚMERO DE TELÉFONO: +34 687 532651

In [5]:
# ¿En qué posición empieza el número de teléfono?
def encontrar_numero(string): # definimos una función que tenga como objeto el string
    for i, char in enumerate(string): # recorremos el índice y los caracteres del string con un loop
        if char.isdigit(): # si el caracter es un dígito, devolvemos el índice
            return i  

encontrar_numero(text)

100

In [6]:
# En la variable numero guarda únicamente el número de teléfono a partir de una rebanada del texto original.
texto_numero = text[100:]
print(texto_numero)

34 687 532651

In [7]:
# Quítale los espacios al número de telefono almacenado en numero
texto_numero_sin_espacios = texto_numero.replace(" ", "")
texto_numero_sin_espacios

'34687532651'

In [8]:
# Transforma numero en una variable del tipo numero entero.
texto_numero_sin_espacios_entero = int(texto_numero_sin_espacios)
print(type(texto_numero_sin_espacios_entero))
print(texto_numero_sin_espacios_entero)

<class 'int'>
34687532651

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Recuerda funciones como upper(), find() y replace() que vimos en el notebook de strings. 
- Recuerda cómo comprobar el tipo de una variable y como cambiarlo.
-->

__2. Considera la variable _lista1_:__
- ¿De qué tipo es la variable?
- Elimina los espacios que hay dentro de lista1
- Separa los difrentes elementos de la variable lista1 por las comas y guarda el resultado en la variable lista2
- ¿De qué tipo es la variable lista2?
- ¿En qué indice aparece "1"?
- Cambia "1" por "2". 
- Elimina el elemento "Hola" de lista2
- Crea una copia de lista2 en la variable _nueva_lista2_ de forma que los nuevos cambios que vamos a realizar no le afecten a lista2. 
- Añade en _nueva_lista2_ un nuevo elemento que contenga "nueva" entre los elementos "la" y "variable". 
- Añade la lista ["y", "es", "una", "lista"] al final del objeto _nueva_lista2_

In [9]:
# Variable lista1

lista1 = 'Hola, esta, es, la, variable, lista, 1'

In [10]:
# Elimina los espacios que hay dentro de lista1
import re
lista1_sin_espacios = re.sub(r'\s', '', lista1) # lo hacemos de forma diferente, usando regex
print(lista1_sin_espacios)

Hola,esta,es,la,variable,lista,1

In [11]:
# Separa los difrentes elementos de la variable lista1 por las comas y guarda el resultado en la variable lista2
lista2 = lista1_sin_espacios.split(",")
print(lista2)

['Hola', 'esta', 'es', 'la', 'variable', 'lista', '1']

In [12]:
# ¿En qué indice aparece "1"?
def encontrar_numero_lista(lista): # definimos una función que tenga como objeto una lista
    for i, elem in enumerate(lista): # recorremos el índice y los elementos de la lista
        if elem.isdigit(): # si el caracter es un dígito, devolvemos el índice
            return i  

encontrar_numero(lista2)

6

In [13]:
# Cambia "1" por "2".
for i, elem in enumerate(lista2):
    if elem == '1':
        lista2[i] = '2'

print(lista2)

['Hola', 'esta', 'es', 'la', 'variable', 'lista', '2']

In [14]:
# Crea una copia de lista2 en la variable nueva_lista2 de forma que los nuevos cambios que vamos a realizar no le afecten a lista2.
nueva_lista2 = lista2.copy()
print(nueva_lista2)

['Hola', 'esta', 'es', 'la', 'variable', 'lista', '2']

In [15]:
# Añade en nueva_lista2 un nuevo elemento que contenga "nueva" entre los elementos "la" y "variable".
index_after = nueva_lista2.index('la')

nueva_lista2.insert(index_after, 'nueva')
print(nueva_lista2)

['Hola', 'esta', 'es', 'nueva', 'la', 'variable', 'lista', '2']

In [16]:
# Añade la lista ["y", "es", "una", "lista"] al final del objeto nueva_lista2
lista3 = ["y", "es", "una", "lista"]
nueva_lista2 = nueva_lista2 + lista3
print(nueva_lista2)

['Hola', 'esta', 'es', 'nueva', 'la', 'variable', 'lista', '2', 'y', 'es', 'una', 'lista']

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Recuerda la función split()
- Para encontrar un indice dentro de una lista podemos usar la función index()
- Recuerda que las listas son elementos mutables y hacemos referencia a sus elementos a partir de sus índices.
-->

__3. Considera las variables _nombres_ y _datos_ que muestran un conjunto de niños con su apellido y su edad:__
- Crea un diccionario llamado _registros_ con los nombres como keys y los datos como valores
- Obten los datos de Elena 
- Obten la edad de Marta usando el diccionario y los índices correspondientes (no queremos mostrar el apellido, solo la edad). 
- Obten los nombres de todos los niños que hay en el diccionario
- Comprueba si hay alguna Julia en nuestro grupo de niños
- Comprueba si hay algun Javi en el grupo de niños y si no lo hay que salga un mensaje diciendo _"Esta persona no está en la lista"_

In [17]:
# Variables nombres y datos

nombres = ['Pedro', 'Juan', 'Marta', 'Ana', 'Elena', 'Nuria', 'Andres', 'Jose', 'Ignacio', 'Patricia', 'Isabel', 'Raul']
datos = [('Martinez', 12), ('Lopez', 16), ('Herrera', 14), ('Lopez', 14), ('Garcia', 9), ('Herrera', 16), ('Herrera', 15), ('Garcia', 13), ('Martinez', 14), ('Martinez', 11), ('Lopez', 10), ('Garcia', 12)]

In [18]:
# Crea un diccionario llamado registros con los nombres como keys y los datos como valores
diccionario = {}

for nombre, dato in zip(nombres, datos):
    diccionario[nombre] = dato

print(diccionario)

{'Pedro': ('Martinez', 12), 'Juan': ('Lopez', 16), 'Marta': ('Herrera', 14), 'Ana': ('Lopez', 14), 'Elena': ('Garcia', 9), 'Nuria': ('Herrera', 16), 'Andres': ('Herrera', 15), 'Jose': ('Garcia', 13), 'Ignacio': ('Martinez', 14), 'Patricia': ('Martinez', 11), 'Isabel': ('Lopez', 10), 'Raul': ('Garcia', 12)}

In [19]:
# Obten los datos de Elena
for i in diccionario.keys():
    if i == 'Elena':
        print(diccionario[i])

('Garcia', 9)

In [20]:
# Obten la edad de Marta usando el diccionario y los índices correspondientes (no queremos mostrar el apellido, solo la edad).
for nombre in diccionario.keys():
    if nombre == "Marta":
        print(diccionario[nombre][1])

14

In [21]:
# Comprueba si hay alguna Julia en nuestro grupo de niños
if "Julia" in diccionario.keys():
    print("Julia está en el diccionario")
else:
    print("Julia no está en el diccionario")

Julia no está en el diccionario

In [22]:
# Comprueba si hay algun Javi en el grupo de niños y si no lo hay que salga un mensaje diciendo _"Esta persona no está en la lista"_
if "Javi" not in diccionario.keys():
    print("Esta persona no está en la lista")

Esta persona no está en la lista

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Recuerda que para crear un diccionario desde dos listas necesitamos "dict()" pero tambien "zip()
- Recuerda el uso de los indices en diccionarios pero tambien en tuplas
-->

__4. Considera las variables _castellano_, _ingles_ y _frances_ que muestran diferentes palabras en los diferentes idiomas:__
- ¿De qué tipo son las tres variables?
- ¿Qué longitud tiene cada una de ellas?
- Crea tres sets con las información contenida en cada una de las tres variables llamados _cast_dict_, _ingl_dict_ y _fran_dict_
- ¿Que longitud tiene cada uno de los sets? ¿Porque no coincide la longitud con el elemento original?
- Añade "Hola" al set _cast_dict_
- Comprueba si "Hello" está en el set _ingl_dict_
- Obten las palabras que esten únicamente en _cast_dict_
- Obten las palabras que coinciden en _cast_dict_ y _ingl_dict_
- Obten las palabras que estén en _ingl_dict_ y no estén en _fran_dict_
- Obten el total de palabras entre _cast_dict_ y _fran_dict_ (coincidentes y no coincidentes)

In [23]:
# Variables nombres y datos

castellano = ['Actor','Embargo','Religion','Actor', 'Accion','Estacion', 'Increible','Estacion,' 'Debut','Visible', 'Inspector','Horrible', 'Menu',  'Material', 'Vital','Tango', 'Avion' ,'Debate','Drama','Paella', 'Inaccesible' ,'Tomate', 'Bar','Ideal','Violin','Camion' 'Capital','Imposible', 'Hotel', 'Chocolate', 'Collar', 'Idea']
ingles = ['Actor','Avocado', 'Inspector','Incredible', 'Station', 'Material', 'Religion', 'Vital','Debate','Drama', 'Bar', 'Visible','Horrible', 'Menu','Ideal','Violin', 'Capital','Hotel', 'Paella','Truck', 'Chocolate','Impossible', 'Collar', 'Action','Inaccessible' , 'Tango', 'Idea', 'Bread', 'Bird',  'Inspector','Incredible', 'Station', 'Material',  'Inspector','Incredible', 'Station', 'Material']
frances = ['Acteur', 'Action','Embargo', 'Religion', 'Horrible','Embargo', 'Religion', 'Horrible', 'Inspecteur', 'Station', 'Menu', 'Materiel','Incredible', 'Vital','Debat','Drame', 'Debut','Bar','Ideal','Violon', 'Paella', 'Camion', 'Impossible', 'Inaccessible', 'Capital', 'Tomate','Hotel','Tango', 'Chocolat', ' Collier', 'Idee', 'Avion', 'Visible']

In [24]:
# ¿De qué tipo son las tres variables?
print(type(castellano))
print(type(ingles))
print(type(frances))

<class 'list'>
<class 'list'>
<class 'list'>

In [25]:
#¿Qué longitud tiene cada una de ellas?
print(f"la longitud de castellano es: {len(castellano)}")
print(f"la longitud de ingles es: {len(ingles)}")
print(f"la longitud de frances es: {len(frances)}")

la longitud de castellano es: 30
la longitud de ingles es: 37
la longitud de frances es: 33

In [26]:
# Crea tres sets con las información contenida en cada una de las tres variables llamados cast_dict, ingl_dict y fran_dict
cast_dict = set(castellano)
ingl_dict = set(ingles)
fran_dict = set(frances)

In [27]:
# ¿Que longitud tiene cada uno de los sets? ¿Porque no coincide la longitud con el elemento original?
print(f"la longitud de castellano es: {len(cast_dict)}")
print(f"la longitud de ingles es: {len(ingl_dict)}")
print(f"la longitud de frances es: {len(fran_dict)}")

print("No tienen la misma longitud porque el objetivo de la función set() es quitar duplicados de una lista")

la longitud de castellano es: 29
la longitud de ingles es: 29
la longitud de frances es: 30
No tienen la misma longitud porque el objetivo de la función set() es quitar duplicados de una lista

In [28]:
#Añade "Hola" al set cast_dict
cast_dict.add("Hola")
print(cast_dict)

{'Chocolate', 'Material', 'CamionCapital', 'Ideal', 'Violin', 'Embargo', 'Drama', 'Bar', 'Paella', 'Estacion', 'Avion', 'Collar', 'Inaccesible', 'Hola', 'Imposible', 'Religion', 'Inspector', 'Visible', 'Debate', 'Idea', 'Horrible', 'Accion', 'Estacion,Debut', 'Tango', 'Increible', 'Hotel', 'Actor', 'Tomate', 'Vital', 'Menu'}

In [29]:
# Comprueba si "Hello" está en el set ingl_dict:
if "Hello" in ingl_dict:
    print("Hello is in ingl_dict:")
else:
    print("Hello is in not in ingl_dict")

Hello is in not in ingl_dict

In [30]:
# Obten las palabras que esten únicamente en cast_dict
palabras_castellano_solo = cast_dict - ingl_dict - fran_dict
print(palabras_castellano_solo)

{'Hola', 'Accion', 'Estacion,Debut', 'Imposible', 'Estacion', 'CamionCapital', 'Inaccesible', 'Increible'}

In [31]:
# Obten las palabras que coinciden en cast_dict y ingl_dict
palabras_coinciden = cast_dict & ingl_dict
print(palabras_coinciden)

{'Chocolate', 'Material', 'Ideal', 'Violin', 'Drama', 'Bar', 'Paella', 'Collar', 'Religion', 'Inspector', 'Visible', 'Debate', 'Idea', 'Horrible', 'Tango', 'Hotel', 'Actor', 'Vital', 'Menu'}

In [32]:
# Obten las palabras que estén en ingl_dict y no estén en fran_dict
palabras_ingles_solo = ingl_dict - fran_dict
print(palabras_ingles_solo)

{'Chocolate', 'Material', 'Bird', 'Collar', 'Inspector', 'Actor', 'Idea', 'Violin', 'Bread', 'Debate', 'Truck', 'Drama', 'Avocado'}

In [33]:
# Obten el total de palabras entre cast_dict y fran_dict (coincidentes y no coincidentes)
total_palabras_fran_cast = fran_dict | cast_dict
print(total_palabras_fran_cast)

{'Chocolate', 'Material', 'Debat', 'CamionCapital', 'Debut', 'Ideal', 'Violin', 'Embargo', 'Incredible', 'Drama', 'Bar', 'Drame', 'Capital', 'Paella', 'Idee', 'Estacion', 'Avion', 'Collar', 'Station', 'Chocolat', 'Inaccesible', 'Camion', 'Inspecteur', 'Hola', 'Imposible', 'Violon', 'Inaccessible', 'Acteur', ' Collier', 'Religion', 'Inspector', 'Visible', 'Debate', 'Idea', 'Action', 'Horrible', 'Accion', 'Estacion,Debut', 'Impossible', 'Tango', 'Increible', 'Hotel', 'Actor', 'Tomate', 'Vital', 'Materiel', 'Menu'}

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Repasa la union, intersección y diferencia entre sets
-->

<hr/>

### 2. Ejercicios Programación (3.5 puntos)

En el bloque de programación hemos estado viendo las condiciones _if_, los bucles _for_ y _while_ así como las funciones. Veamos qué podemos hacer con todos ellos.

__5. Escribe la función _persona_ a la que le pases un nombre, una edad, un pais de nacimiento, un máster y el atributo "M" (masculino) y  "F" (femenino):__
- En el caso de que quieras que se dirija a la persona en Femenino deberá decir: "[nombre introducido], nacida en el año [año de nacimiento] en [pais de nacimiento], se presenta actualmente como alumna del master [master introducido]"
- En el caso de que quieras que se dirija a la persona en Masculino deberá decir: "[nombre introducido], nacido en el año [año de nacimiento] en [pais de nacimiento], se presenta actualmente como alumno del master [master introducido]"
- En el caso en el que CUALQUIERA de las variables sea igual a "X" la función deberá devolver "[nombre introducido], nacid@ en el año [año de nacimiento] en [pais de nacimiento], se presenta actualmente como alumn@ del master [master introducido]" incluyendo "Información no disponible" en el campo que corresponda.
- En el caso de que no se incluyan suficientes parametros de entrada, se incluyan demasiados, o haya más de un campo con "X", la función deberá devolver "Información confidencial". 

Nota: El año de nacimiento deberá ser calculado a partir del dato de edad

In [34]:
def persona(nombre, edad, pais, master, genero):
    año_nacimiento = ""
    try:
        edad = int(edad)
        año = 2023 - edad
    except:
        año = "Información no disponible"
    if genero == "F":
        pronombre = "nacida"
        pronombre_completo = "alumna"
    elif genero == "M":
        pronombre = "nacido"
        pronombre_completo = "alumno"
    
    if any(element == "X" for element in [nombre, edad, pais, master, genero]):
        element = "Información no disponible"
        pronombre = "nacid@"
        pronombre_completo = "alumn@"
        
    if sum(element == "X" for element in [nombre, edad, pais, master, genero]) > 1:
        print("Información confidencial")
    elif any(element is None for element in [nombre, edad, pais, master, genero]):
        print("Información confidencial")
    else:
        print(f"{nombre}, {pronombre} en el año {año} en {pais}, se presenta actualmente como {pronombre_completo} del master {master}")

In [35]:
# Prueba tu codigo con los siguientes ejemplos 

persona('Julie', 23, 'Canadá', 'Organización Industrial', "F")
persona('Manuel', "X", 'México', 'Informatica', "M")
persona('Joel', "X", 'Inglaterra', "X", "M")

Julie, nacida en el año 2000 en Canadá, se presenta actualmente como alumna del master Organización Industrial
Manuel, nacid@ en el año Información no disponible en México, se presenta actualmente como alumn@ del master Informatica
Información confidencial

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Recuerda que pueden incluir condicionales if dentro de las funciones que definas 
-->

__6. Escribe una función _numeros_ a la que le puedas pasar cualquier par de numeros enteros y te devuelva cada número entre ellos multiplicado por 5:__

Ejemplo: al introducir numeros(1,4) la función deberá devolver lo siguiente: 
- 1 multiplicado por 5 es igual a: 5 
- 2 multiplicado por 5 es igual a: 10 
- 3 multiplicado por 5 es igual a: 15 
- 4 multiplicado por 5 es igual a: 20 

En el caso de que se introduzcan cualquier tipo de elemento distinto de un número (entero) a la función, esta debe devolver un mensaje de error. 

Nota: Ten cuidado al probar la función con numeros muy distantes puesto que puedes generar bucles que tarden mucho en acabar.

In [36]:
def numeros(num1, num2):
    if not isinstance(num1, int) or not isinstance(num2, int):
        print("Error: al menos uno de los argumentos no es un entero")
        return None
    lista_numeros = []
    for num in range(num1, num2 + 1):
        lista_numeros.append(num * 5)
    return lista_numeros

In [37]:
# Prueba tu codigo con los siguientes ejemplos 
numeros(30.5, 50)
numeros('3', '12')

Error: al menos uno de los argumentos no es un entero
Error: al menos uno de los argumentos no es un entero

In [38]:
numeros(20, 27)

[100, 105, 110, 115, 120, 125, 130, 135]

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Puedes usar tanto un bucle for como un bucle while
- Puedes usar un condicional para saber si el formato es correcto
-->

__7. Escribe una función _deletreo_ a la que le pueda pasar cualquier string y me lo devuelva letra por letra:__
- En el caso de que se introduzca un elemento en la función que no sea un string, esta deberá devolver un mensaje de error del tipo "Formato de entrada incorrecto".

In [39]:
def deletreo(texto):
    if not isinstance(texto, str):
        return "Formato de entrada incorrecto"

    lista_letras = []
    for letra in texto:
        lista_letras.append(letra)
    return lista_letras

In [40]:
deletreo('Interdisciplinario')

['I',
 'n',
 't',
 'e',
 'r',
 'd',
 'i',
 's',
 'c',
 'i',
 'p',
 'l',
 'i',
 'n',
 'a',
 'r',
 'i',
 'o']

In [41]:
deletreo(['Hola', 'clase'])

'Formato de entrada incorrecto'

In [42]:
deletreo('123456')

['1', '2', '3', '4', '5', '6']

In [43]:
deletreo(123456)

'Formato de entrada incorrecto'

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Puedes usar tanto un bucle for como un bucle while
- Puedes usar un condicional para saber si el formato es correcto
-->

<hr/>

### 3. Ejercicios Numpy (1 punto)

Numpy es una librería de Python comunmente utilizada para procesamiento numérico y análisis de datos. En este bloque hemos trabajado tanto en Numpy 1D como en Numpy para multiples dimensiones. 

**Nota**: No olvides importar la librería para poder trabajar

__8. Crea una matrix de unos de dimensiones 2x3 y una matrix de numeros aleatorios de 2x3:__
- Calcula el producto matricial de la matriz de numeros aleatorios transpuesta por la matrix de unos.

In [ ]:
!pip install numpy

In [44]:
import numpy as np

#  Crea una matrix de unos de dimensiones 2x3 y una matrix de numeros aleatorios de 2x3:
matriz_unos = np.ones((2, 3))
matriz_aleatorios = np.random.rand(2, 3)

In [45]:
# Calcula el producto matricial de la matriz de numeros aleatorios transpuesta por la matrix de unos.
producto = np.dot(matriz_aleatorios.T, matriz_unos)

print(producto)

[[1.14118199 1.14118199 1.14118199]
 [1.24427479 1.24427479 1.24427479]
 [1.04476203 1.04476203 1.04476203]]

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Recuerda que tenemos funciones específicas de numpy tanto para crear arrays de numeros aleatorios como para crear arrays de unos.
-->

__9. Crea un numpy array que consista en una matriz 3x4 con los valores del 10 al 21:__
- Usando np.where() encuentra y cambia el número 20 por 99 y todos los demás por el 2.  
- Comprueba el tipo de los datos que tenemos dentro de la matriz 
- Cambia el tipo de los datos que tenemos en la matriz por numeros decimales

In [46]:
# Crea un numpy array que consista en una matriz 3x4 con los valores del 10 al 21:
array = np.arange(10, 22).reshape(3,4)
array

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21]])

In [47]:
# Usando np.where() encuentra y cambia el número 20 por 99 y todos los demás por el 2.
array = np.where(array == 20, 99, 2)
array

array([[ 2,  2,  2,  2],
       [ 2,  2,  2,  2],
       [ 2,  2, 99,  2]])

In [48]:
# Comprueba el tipo de los datos que tenemos dentro de la matriz
array.dtype

dtype('int32')

In [49]:
# Cambia el tipo de los datos que tenemos en la matriz por numeros decimales
array = array.astype(float)
array

array([[ 2.,  2.,  2.,  2.],
       [ 2.,  2.,  2.,  2.],
       [ 2.,  2., 99.,  2.]])

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Recuerda que podemos crear arrays con np.arrange()
- Recuerda que podemos usar la función reshape() para cambiar la forma de los arrays segun las dimensiones que nos interesen
- Recuerda que la función np.where nos permite buscar y modificar elementos directamente 
-->

<hr/>

### 4. Ejercicios Pandas (3.5 puntos)

Pandas es una segunda librería de Python que hemos trabajado. Esta librería esta creada para facilitar el manejo y análisis de datos tabulares. En este bloque hemos leido archivos externos a Python procedentes de excel o csv, los hemos trabajado y posteriormente los hemos podido volver a guardar en archivos.

**Nota**: No olvides importar la librería para poder trabajar

__10. Lee los archivos `alquiler-madrid-municipios.csv` y `venta-madrid-municipios.csv` que hemos visto en clase:__
- Cambia los nombres de las columnas por Distrito, Año, Trimestre y Distrito, Año, Trimestre y Precio_alquiler/Precio_venta según corresponda. 
- ¿Cual es el tamaño (numero de elementos y dimensiones) de cada tabla? ¿Qué columnas tiene cada tabla? ¿De qué tipos son los datos de cada columna?
- ¿Hay filas duplicadas por completo? 
- ¿Cuantos municipios diferentes aparecen en cada tabla? ¿Cuáles?
- ¿Cual es el primer año y trimestre de cada tabla? ¿Y el último?
- Ordena la tabla de forma que los precios más recientes queden arriba (es decir, del más actual de año y trimestre al más antiguo)
- Elimina todos los registros que se correpondan con la localidad "Tres Cantos"
- ¿Hay algun valor nulo en alguna columna? Si es así, sustituyelo por la mediana de esa columna para ese año y trimestre (por ejemplo, si falta el precio de venta del primer trimestre de 2023 para un municipio, sustituyelo por la mediana de todos los precios de venta que si que tenemos del primer trimestre de 2023). Si no logras hacer este paso, puedes rellenar el dato con un 0 para continuar el ejercicio. 
- Funde las dos tablas por municipio, año y trimestre de forma que se te queden todos los datos de ambas tablas. A esta nueva tabla la llamaremos _precios_ ¿Se han generado nuevos valores nulos? Si es así, vuelve a repetir la operación del punto anterior.
- A partir de la tabla _precios_, crea una nueva tabla que contenga únicamente una fila por municipio con su precio medio de venta y alquiler 
- A partir de la tabla _precios_, crea una nueva columna llamada _alquiler_ que se rellene con "Barato" para todas aquellas filas en las que el precio de alquiler sea menor o igual que 7, "Caro" para todas aquellas fllas en las que el precio de alquiler sea mayor o igual a 9 y "Medio" para todas las que estén enmedio entre "Barato" y "Caro". 
- Finalmente guarda la tabla _precios_ en un excel llamado _Resultados_ 


Nota: Puedes encontrar los archivos en los recursos del bloque de Pandas

In [ ]:
!pip install pandas

In [50]:
# Lee los archivos alquiler-madrid-municipios.csv y venta-madrid-municipios.csv que hemos visto en clase:
import pandas as pd
dfalq = pd.read_csv("alquiler-madrid-municipios.csv")
dfven = pd.read_csv("venta-madrid-municipios.csv")
print(dfalq.columns)
print(dfven.columns)

Index(['municipio', 'ano', 'quarter', 'precio'], dtype='object')
Index(['municipio', 'ano', 'quarter', 'precio'], dtype='object')

In [51]:
# Cambia los nombres de las columnas por Distrito, Año, Trimestre y Distrito, Año, Trimestre y Precio_alquiler/Precio_venta según corresponda.
dfalq = dfven.rename(columns={'municipio': 'Distrito', 'ano': 'Año', 'quarter': 'Trimestre', 'precio': 'Precio_alquiler'})
dfven = dfven.rename(columns={'municipio': 'Distrito', 'ano': 'Año', 'quarter': 'Trimestre', 'precio': 'Precio_venta'})

In [52]:
dfalq.shape

(3250, 4)

In [53]:
# ¿Cual es el tamaño (numero de elementos y dimensiones) de cada tabla? ¿Qué columnas tiene cada tabla? ¿De qué tipos son los datos de cada columna?
print(f"""Alquiler
Las dimensiones del dataset son {dfalq.shape},


Las columnas y tipos de datos del dataset son""")
{dfalq.info()}
print(f"""
Venta
Las dimensiones del dataset son {dfven.shape},


Las columnas y tipos de datos del dataset son""")
{dfven.info()}

Alquiler
Las dimensiones del dataset son (3250, 4),


Las columnas y tipos de datos del dataset son
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3250 entries, 0 to 3249
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Distrito         3250 non-null   object
 1   Año              3250 non-null   int64
 2   Trimestre        3250 non-null   int64
 3   Precio_alquiler  2723 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 101.7+ KB

Venta
Las dimensiones del dataset son (3250, 4),


Las columnas y tipos de datos del dataset son
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3250 entries, 0 to 3249
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Distrito      3250 non-null   object
 1   Año           3250 non-null   int64
 2   Trimestre     3250 non-null   int64
 3   Precio_venta  2723 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 101.7+ KB

{None}

In [54]:
#¿Hay filas duplicadas por completo?
print(len(dfven) == len(dfven.drop_duplicates()))
print(len(dfalq) == len(dfalq.drop_duplicates()))
print("No hay filas duplicadas por completo")

True
True
No hay filas duplicadas por completo

In [55]:
#¿Cuantos municipios diferentes aparecen en cada tabla? ¿Cuáles?
print(f"""
Los municipios presentes en el dataset de ventas son :{dfven.Distrito.unique()}, un total de {len(dfven.Distrito.unique())}""")
print(f"""

Los municipios presentes en el dataset de alquiler son :{dfalq.Distrito.unique()}, un total de {len(dfalq.Distrito.unique())}""")

Los municipios presentes en el dataset de ventas son :['Alcalá De Henares' 'Alcobendas' 'Alcorcón' 'Algete' 'Alpedrete'
 'Aranjuez' 'Arganda Del Rey' 'Arroyomolinos' 'Boadilla Del Monte'
 'Brunete' 'Cercedilla' 'Ciempozuelos' 'Collado Villalba' 'Colmenar Viejo'
 'Coslada' 'El Escorial' 'Fuenlabrada' 'Galapagar' 'Getafe' 'Guadarrama'
 'Humanes De Madrid' 'La Moraleja' 'Leganés' 'Majadahonda'
 'Manzanares El Real' 'Meco' 'Mejorada Del Campo' 'Molar El' 'Móstoles'
 'Navalcarnero' 'Paracuellos Del Jarama' 'Parla' 'Pinto'
 'Pozuelo De Alarcón' 'Rivas-Vacíamadrid' 'Rozas De Madrid (Las)'
 'San Agustín De Guadalix' 'San Fernando De Henares'
 'San Lorenzo Del Escorial' 'San Martín De La Vega'
 'San Martín De Valdeiglesias' 'San Sebastián De Los Reyes'
 'Sevilla La Nueva' 'Torrejón De Ardoz' 'Torrelodones' 'Tres Cantos'
 'Valdemoro' 'Villanueva De La Cañada' 'Villanueva Del Pardillo'
 'Villaviciosa De Odón'], un total de 50


Los municipios presentes en el dataset de alquiler son :['Alcalá De Henares' 'Alcobendas' 'Alcorcón' 'Algete' 'Alpedrete'
 'Aranjuez' 'Arganda Del Rey' 'Arroyomolinos' 'Boadilla Del Monte'
 'Brunete' 'Cercedilla' 'Ciempozuelos' 'Collado Villalba' 'Colmenar Viejo'
 'Coslada' 'El Escorial' 'Fuenlabrada' 'Galapagar' 'Getafe' 'Guadarrama'
 'Humanes De Madrid' 'La Moraleja' 'Leganés' 'Majadahonda'
 'Manzanares El Real' 'Meco' 'Mejorada Del Campo' 'Molar El' 'Móstoles'
 'Navalcarnero' 'Paracuellos Del Jarama' 'Parla' 'Pinto'
 'Pozuelo De Alarcón' 'Rivas-Vacíamadrid' 'Rozas De Madrid (Las)'
 'San Agustín De Guadalix' 'San Fernando De Henares'
 'San Lorenzo Del Escorial' 'San Martín De La Vega'
 'San Martín De Valdeiglesias' 'San Sebastián De Los Reyes'
 'Sevilla La Nueva' 'Torrejón De Ardoz' 'Torrelodones' 'Tres Cantos'
 'Valdemoro' 'Villanueva De La Cañada' 'Villanueva Del Pardillo'
 'Villaviciosa De Odón'], un total de 50

In [56]:
# ¿Cual es el primer año y trimestre de cada tabla? ¿Y el último?
first_year = dfven['Año'].min()
last_year = dfven['Año'].max()
first_quarter = dfven[dfven['Año'] == first_year]['Trimestre'].min()
last_quarter = dfven[dfven['Año'] == last_year]['Trimestre'].max()

print(f"La primera fecha del dataset de ventas es {first_year}, trimestre {first_quarter}")
print(f"La última fecha del dataset de ventas es {last_year}, trimestre {last_quarter}")

first_year = dfalq['Año'].min()
last_year = dfalq['Año'].max()
first_quarter = dfalq[dfven['Año'] == first_year]['Trimestre'].min()
last_quarter = dfalq[dfven['Año'] == last_year]['Trimestre'].max()
print(f"La primera fecha del dataset de alquiler es {first_year}, trimestre {first_quarter}")
print(f"La última fecha del dataset de alquiler es {last_year}, trimestre {last_quarter}")

La primera fecha del dataset de ventas es 2002, trimestre 2
La última fecha del dataset de ventas es 2018, trimestre 2
La primera fecha del dataset de alquiler es 2002, trimestre 2
La última fecha del dataset de alquiler es 2018, trimestre 2

In [57]:
# Ordena la tabla de forma que los precios más recientes queden arriba (es decir, del más actual de año y trimestre al más antiguo)
dfven = dfven.sort_values(by=['Año', 'Trimestre'], ascending=False)
dfalq = dfalq.sort_values(by=['Año', 'Trimestre'], ascending=False)
dfven.head()

               Distrito   Año  Trimestre  Precio_venta
3200  Alcalá De Henares  2018          2   1747.305461
3201         Alcobendas  2018          2   2414.045288
3202           Alcorcón  2018          2   2081.124916
3203             Algete  2018          2   1624.959525
3204          Alpedrete  2018          2   1690.840537

In [58]:
# Elimina todos los registros que se correpondan con la localidad "Tres Cantos"
dfven = dfven[dfven["Distrito"] != "Tres Cantos"]
dfalq = dfalq[dfalq["Distrito"] != "Tres Cantos"]

In [59]:
# ¿Hay algun valor nulo en alguna columna? Si es así, sustituyelo por la mediana de esa columna para ese año y trimestre (por ejemplo, si falta el precio de venta del primer trimestre de 2023 para un municipio, sustituyelo por la mediana de todos los precios de venta que si que tenemos del primer trimestre de 2023). Si no logras hacer este paso, puedes rellenar el dato con un 0 para continuar el ejercicio.
precio_mediano_ven = dfven.groupby(['Año', 'Trimestre'])['Precio_venta'].transform('median')
precio_mediano_alq = dfalq.groupby(['Año', 'Trimestre'])['Precio_alquiler'].transform('median')

dfven['Precio_venta'] = dfven['Precio_venta'].fillna(precio_mediano_ven)
dfalq['Precio_alquiler'] = dfalq['Precio_alquiler'].fillna(precio_mediano_alq)

In [60]:
#Funde las dos tablas por municipio, año y trimestre de forma que se te queden todos los datos de ambas tablas. A esta nueva tabla la llamaremos precios ¿Se han generado nuevos valores nulos? Si es así, vuelve a repetir la operación del punto anterior.
precios = pd.merge(dfven, dfalq, on=['Distrito', 'Año', 'Trimestre'])

precio_mediano_ven = precios.groupby(['Año', 'Trimestre'])['Precio_venta'].transform('median')
precio_mediano_alq = precios.groupby(['Año', 'Trimestre'])['Precio_alquiler'].transform('median')

precios['Precio_venta'] = precios['Precio_venta'].fillna(precio_mediano_ven)
precios['Precio_alquiler'] = precios['Precio_alquiler'].fillna(precio_mediano_alq)

In [61]:
# A partir de la tabla precios, crea una nueva tabla que contenga únicamente una fila por municipio con su precio medio de venta y alquiler
precios_medios = precios.groupby(['Distrito'])[['Precio_venta', 'Precio_alquiler']].mean().reset_index()
precios_medios

                       Distrito  Precio_venta  Precio_alquiler
0             Alcalá De Henares   2047.008782      2047.008782
1                    Alcobendas   2785.985320      2785.985320
2                      Alcorcón   2285.838260      2285.838260
3                        Algete   1988.420014      1988.420014
4                     Alpedrete   2050.834081      2050.834081
5                      Aranjuez   1792.414577      1792.414577
6               Arganda Del Rey   1923.478701      1923.478701
7                 Arroyomolinos   2050.682290      2050.682290
8            Boadilla Del Monte   2890.965685      2890.965685
9                       Brunete   2320.061289      2320.061289
10                   Cercedilla   1984.524334      1984.524334
11                 Ciempozuelos   1843.732307      1843.732307
12             Collado Villalba   2005.680929      2005.680929
13               Colmenar Viejo   2261.600463      2261.600463
14                      Coslada   2283.273307      2283.273307
15                  El Escorial   2057.473036      2057.473036
16                  Fuenlabrada   1901.415249      1901.415249
17                    Galapagar   1947.875893      1947.875893
18                       Getafe   2191.335835      2191.335835
19                   Guadarrama   1987.932275      1987.932275
20            Humanes De Madrid   1976.232671      1976.232671
21                  La Moraleja   3914.358803      3914.358803
22                      Leganés   2196.536122      2196.536122
23                  Majadahonda   3073.291568      3073.291568
24           Manzanares El Real   2112.205812      2112.205812
25                         Meco   1913.464525      1913.464525
26           Mejorada Del Campo   2082.950975      2082.950975
27                     Molar El   2076.482836      2076.482836
28                     Móstoles   1869.595819      1869.595819
29                 Navalcarnero   1945.114213      1945.114213
30       Paracuellos Del Jarama   2333.522023      2333.522023
31                        Parla   1717.340407      1717.340407
32                        Pinto   2148.386952      2148.386952
33           Pozuelo De Alarcón   3434.329076      3434.329076
34            Rivas-Vacíamadrid   2199.352802      2199.352802
35        Rozas De Madrid (Las)   2919.655743      2919.655743
36      San Agustín De Guadalix   2191.688760      2191.688760
37      San Fernando De Henares   2394.055547      2394.055547
38     San Lorenzo Del Escorial   2191.822705      2191.822705
39        San Martín De La Vega   1665.926807      1665.926807
40  San Martín De Valdeiglesias   1807.202484      1807.202484
41   San Sebastián De Los Reyes   2642.534701      2642.534701
42             Sevilla La Nueva   1958.085662      1958.085662
43            Torrejón De Ardoz   1954.837029      1954.837029
44                 Torrelodones   2563.907932      2563.907932
45                    Valdemoro   1982.477522      1982.477522
46      Villanueva De La Cañada   2386.996161      2386.996161
47      Villanueva Del Pardillo   2392.648879      2392.648879
48         Villaviciosa De Odón   2587.161633      2587.161633

In [62]:
# A partir de la tabla precios, crea una nueva columna llamada alquiler que se rellene con "Barato" para todas aquellas filas en las que el precio de alquiler sea menor o igual que 7, "Caro" para todas aquellas fllas en las que el precio de alquiler sea mayor o igual a 9 y "Medio" para todas las que estén enmedio entre "Barato" y "Caro".
precios['alquiler'] = precios['Precio_alquiler'].apply(lambda x: "Barato" if x <= 7 else "Caro" if x >=9 else "Medio")

In [63]:
# Finalmente guarda la tabla precios en un excel llamado Resultados
precios.to_excel("Resultados.xlsx", index=False)

Comprueba __aquí__ algunas pistas. 

<!-- Pistas:
- Recuerda las diferentes funciones que hemos visto para Pandas
- Seguramente te serán utiles las funciones merge() y groupby()
-->